extends layout

block content
  div(class="container", style="padding: 80px 15px 0;")
    
    h1 About Page
          
    div(class="row")
      div(class="col-md-9")
        div(class="panel")
          div(class="panel-body")
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, illo, quod. Sequi pariatur aperiam ab aliquam, maiores laborum similique non quia ut, illo, voluptates totam temporibus qui obcaecati nemo cupiditate!
